$green_primary: #00b453;
$black_primary: #494949;

.hero {
  padding-block: 3rem;
  display: flex;
}

.hero_container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-block: 6rem;
  display: flex;
  padding-inline: 3rem;
  gap: 3rem;
}

.hero_text {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 2rem;
  flex: 65%;

  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    color: $black_primary;
  }

  p {
    color: #636363;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 36px;
    max-width: 90%;
  }

  button {
    background: #00ab6d;
    border-radius: 14.4907px;
    color: white;
    border: none;
    padding: 17px 37px;
    margin-top: 30px;
  }
}

.hero_cta {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 24px 40px #e8eaed;
  border-radius: 24px;
  padding: 2rem;
  gap: 1rem;

  p {
    color: #636363;
  }

  > button {
    cursor: pointer;
    background: whitesmoke;
    border: 1px solid lightgray;
    padding-block: 1rem;
  }

  .trade {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    button {
      width: 30%;
      flex-grow: 1;
      padding-block: 1rem;
      cursor: pointer;
      border: 1px solid lightgray;
      border-radius: 3px;
      background: none;
    }
  }
}

.main_cta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  flex: 35%;
  // background: #ffffff;
  // box-shadow: 0px 24px 40px #e8eaed;
  background: #00ab6d;
  border-radius: 10px;
  // background-color: $green_primary;

  * {
    // border: 1px dashed;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .item {
      padding: 1rem;
      border: 1px solid #b1b1b1;
      border-radius: 10px;
      background-color: white;

      label {
        opacity: 0.7;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 500;
      }

      > div {
        display: flex;

        .input {
          flex: 50%;
          flex-shrink: 1;
          input {
            border: none;
            background: transparent;
            font-size: 38px;
            line-height: 1;
            overflow-y: visible;
            margin-top: 8px;
            font-weight: 500;
            text-align: left;
            padding: 0 5px 0 0;
            width: 100%;

            &:is(:active, :focus) {
              outline: none;
            }

            &::placeholder {
              // opacity: 0.5;
            }
          }
        }

        > span {
          display: flex;
          align-items: center;
          gap: 0.4em;
          font-size: 1.1rem;
          border: 1px solid lightgrey;
          justify-content: center;
          padding-inline: 1.7em;
          border-radius: 5px;

          img {
            width: 1.5rem;
            height: 1.5rem;
          }

          p {
            letter-spacing: 3px;
            margin-top: 5%;
          }
        }
      }
    }
  }

  button {
    margin-top: 2.5rem;
    cursor: pointer;
    width: 100%;
    padding: 0.5em 1em;
    letter-spacing: 2px;
    // font-weight: 700;
    background-color: whitesmoke;
    border: 2px solid transparent;
    text-transform: uppercase;
    text-align: left;
    display: none;
    justify-content: space-between;

    span {
    }
  }
}
