$green_primary: #00b453;
$black_primary: #494949;

.navbar {
  padding-block: 1rem;

  .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;

    .logo {
      text-decoration: none;
      user-select: none;
      font-family: "Monda", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      // line-height: 59px;

      text-align: center;
      letter-spacing: -0.06em;

      color: $green_primary;

      span {
        color: $black_primary;
        opacity: 0.7;
      }
    }
  }
}

.nav_items {
  display: flex;
  gap: 4rem;

  a {
    text-decoration: none;
    color: lightslategrey;
    font-size: 1.1rem;
    // font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

    &:hover {
      color: $green_primary;
    }
  }
}

.nav_cta {
  display: flex;
  gap: 1rem;

  button {
    background-color: #ffffff;
    border: 1.5px solid #00ab6d;
    border-radius: 12.0526px;
    padding: 11px 50px;
    cursor: pointer;
  }

  .signup {
    color: $green_primary;
  }

  .login {
    background-color: $green_primary;
    color: white;
  }
}
